#!/usr/bin/make -f

DISTRIBUTION = $(shell sed -n "s/^VERSION_CODENAME=//p" /etc/os-release)
VERSION = 23
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0

%:
	dh $@

overrrise_dh_auto_configure:
	mkdir -p debian/build
	cd debian/build
	export native_config
	read -r -d '' native_config <<EOF \
[binaries] \
llvm-config = '/usr/bin/llvm-config-12' \
EOF
	meson --prefix=/usr \
--wrap-mode=nodownload \
--sysconfdir=/etc \
--localstatedir=/var \
--libdir=lib/aarch64-linux-gnu \
--libexecdir=lib/aarch64-linux-gnu \
--native-file=<(echo "$native_config") \
-Dlibunwind=disabled \
-Ddri-drivers=nouveau \
-Ddri-drivers-path=lib/aarch64-linux-gnu \
-Dglvnd=true \
-Dshared-glapi=enabled \
-Dgallium-xvmc=enabled \
-Dgallium-vdpau=enabled \
-Dgallium-omx=disabled \
-Dglx-direct=true \
-Dgbm=enabled \
-Ddri3=enabled \
"-Dplatforms=x11,wayland" \
-Dgallium-extra-hud=true \
-Dgallium-vdpau=enabled \
-Dgallium-va=enabled \
-Dva-libs-path=lib/aarch64-linux-gnu \
-Dlmsensors=enabled \
"-Dgallium-drivers=radeonsi,r600,nouveau,zink,swrast,virgl" \
-Dgles1=enabled \
-Dgles2=enabled \
-Dvulkan-drivers=auto \
"-Dvulkan-layers=device-select,overlay" \
-Dosmesa=true \
-Dgallium-nine=true \
-Dshader-cache=enabled \
-Dopencl-spirv=true \
-Dgallium-opencl=disabled \
-Dtools=glsl,nir \
../../mesa/mesa

override_dh_auto_clean:
	rm -rf debian/build

override_dh_auto_build:
	cd debian/build && ninja -v

override_dh_auto_test:
	cd debian/build && ninja test

override_dh_auto_install:
	cd debian/build && DESTDIR=${CURDIR}/debian/#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_clean:
	rm -rf debian/build

override_dh_auto_configure:
	mkdir -p debian/build
	cd debian/build
	export native_config
	read -r -d '' native_config <<EOF \
[binaries] \
llvm-config = '/usr/bin/llvm-config-12' \
EOF
	meson --prefix=/usr --wrap-mode=nodownload \
--sysconfdir=/etc \
--localstatedir=/var \
--libdir=lib/aarch64-linux-gnu \
--libexecdir=lib/aarch64-linux-gnu \
--native-file=<(echo "$native_config") \
-Dlibunwind=disabled \
-Ddri-drivers=nouveau \
-Ddri-drivers-path=lib/aarch64-linux-gnu \
-Dglvnd=true \
-Dshared-glapi=enabled \
-Dgallium-xvmc=enabled \
-Dgallium-vdpau=enabled \
-Dgallium-omx=disabled \
-Dglx-direct=true \
-Dgbm=enabled \
-Ddri3=enabled \
"-Dplatforms=x11,wayland" \
-Dgallium-extra-hud=true \
-Dgallium-vdpau=enabled \
-Dgallium-va=enabled \
-Dva-libs-path=lib/aarch64-linux-gnu \
-Dlmsensors=enabled \
"-Dgallium-drivers=radeonsi,r600,nouveau,zink,swrast,virgl" \
-Dgles1=enabled \
-Dgles2=enabled \
-Dvulkan-drivers=auto \
"-Dvulkan-layers=device-select,overlay" \
-Dosmesa=true \
-Dgallium-nine=true \
-Dshader-cache=enabled \
-Dopencl-spirv=true \
-Dgallium-opencl=disabled \
-Dtools=glsl,nir \
../../mesa/mesa

override_dh_auto_build:
	cd debian/build && ninja -v

override_dh_auto_test:
	cd debian/build && ninja test

override_dh_auto_install:
	cd debian/build && DESTDIR=${HOME}/builds ninja install
